@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo à Vitrine Virtual</h1>
    <br />
    <h2>Cadastre seus produtos em nosso back-office!</h2>

</div>
